form {
    color: #495E57;
    border-radius: 8px;
    border: 1px solid #EDEFEE;
    box-shadow: 6px 6px 12px rgba(237, 239, 238, 0.3);
    max-width: 600px;
}

.form {
    display: grid;
    justify-content: center;
    margin: 60px auto;
    padding: 38px;
}

.form input {
    text-align: center;
    border-radius: 8px;
    padding: 4px 0;
    height: 40px;
    width: 400px;
    background-color: #EDEFEE;
}

.form select {
    text-align: center;
    border-radius: 8px;
    padding: 4px 6px;
    height: 40px;
    width: 400px;
    background-color: #EDEFEE;
}

.form label {
    margin: 4px 0;
}

.dropdown {
    border-radius: 8px;
    padding: 4px 0;
    height: 40px;
    width: 400px;
    background-color: #EDEFEE;
}



@media (min-width:600px) {
    .form {
        width: 500px;
        margin: 60px auto;
        padding: 32px 34px;
    }

    .form input {
        width: 400px;
    }

    .form select {
        width: 400px;
    }
    }

@media (min-width: 360px) and (max-width: 480px) {
    .form input {
        width: 300px;
    }

    .form select {
        width: 300px;
    }
}

@media (min-width: 340px) and (max-width: 360px){
    .form input {
        width: 260px;
    }

    .form select {
        width: 260px;
    }
}
