footer {
    background-color: darkgreen;
    margin: 0;
    padding: 36px 0;
    color: antiquewhite;
}

.footer table td {
    padding: 10px 50px;
    color: aqua;
}


@media (max-width: 1630px) {
    .footer {
        display: flex;
        justify-content: center;
    }
}

@media (max-width: 490px) {
    .data-table-b {
        display: none;
    }
}

