.header {
    margin: 20px 250px;
}

nav ul li {
    display: inline;
    padding: 9px 15px;
    margin: 0 10px;
    border-radius: 8px;
    background-color: rgb(186, 249, 249);
}
nav ul li:hover {
    cursor: pointer;
    background-color: rgb(97, 156, 156);
}

.link:hover {
    border-bottom: 1px solid azure;
}

.icon {
    width: 170px;
    height: auto;
}

.menu {
    display: none;
}


@media(max-width: 1450px) {

    .header {
        display: flex;
        justify-content: space-between;
        margin: 0 120px;
        padding: 0 10px;
    }

    .nav-list {
        display: none;
    }

    .menu {
        display: flex;
    }
}

@media (max-width: 1024px) {

    .header {
        display: flex;
        margin: 0 30px;
    }
}

